<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Comentarios app</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<header id="site-header">
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">Comentarios app</a>
				</div>
			</div>
		</div>
	</header>

	<main id="site-main">
		<div class="container">
			<%- body %>
		</div>
	</main>

	<footer id="site-footer">
		Copyright &copy; Martin Martinez
	</footer>

</body>
</html>